*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.125rem;
  color: #e5e7eb;
}

button {
  color: #e5e7eb;
  background-color: #3882f6;
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
  border: none;
  margin: 0 auto;
}

.header {
  background-color: #1f2937;
  color: white;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo img {
  max-height: 50px;
  width: auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__list {
  display: flex;
  gap: 1em;
  padding: 0.5em 1em;
}

.nav__item {
  font-size: 0.9rem;
}

.nav__link {
  padding: 0.3em 0.5em;
  transition: opacity 0.3s;
}

.nav__link:hover {
  opacity: 0.8;
}

.hero {
  background-color: #1f2937;
  color: white;
}

.hero__content {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 3em 0;
}

.hero__headline {
  flex: 1;
}

.hero__headline h1 {
  font-size: 4rem;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 0;
}

.hero__figure {
  flex: 1;
  margin: 0;
}

.features__title {
  margin-top: 2em;
  text-align: center;
}

.features__list {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.features__figure {
  margin: 0 0 1em 0;
}

.features__image {
  border: 5px solid #3882f6;
  border-radius: 10px;
}

.features__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 4em;
}

.features__desc {
  color: #1f2937;
}

.quotes {
  background-color: #e5e7eb;
}

.quotes__content {
  padding: 4em 2em;
}

.quote {
  font-size: 2.3rem;
  font-weight: 200;
  font-style: italic;
}

.author {
  text-align: end;
}

.cta__card {
  margin: 3em 0;
  background-color: #3882f6;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e5e7eb;
  padding: 1.5em 5em;
}

.cta__button--border-white {
  border: 1px solid white;
}

.cta__section {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.cta__button {
  flex: 1;
  display: flex;
  justify-content: center;
}

.cta__title {
  font-weight: 900;
}

.cta__subtitle {
  font-size: 1rem;
  font-weight: 200;
}

footer {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
